/* Created by Domas and Easy */

#footer, .app-header, .app-right, .app-right .friends, #footer-user .info,
#playlist-panel, #search, #playlist-menu,
.media-list .selected .actions, .media-list .actions,
#user-rollover, #user-rollover .info, .thumb .background,
#the-user-profile, #user-profile, #user-store, #user-friends, #user-history, #user-communities, #user-settings, #user-shop, #user-inventory,
#user-view, #user-menu,
#user-menu .item,
#app-menu, #app-menu .list {
	background: rgba(0,0,0,.5) !important;
}


.icon-room {
	width: 70px;
	top: 14px !important; left: 5px !important;
	background: url(https://i.imgur.com/H6bXC1U.png) 0 / cover no-repeat !important;
}
#room-name, #room-host {
	left: 90px;
}
